{{!--Dashboard--}} 

<section class="find-pokemon">
  <h2 class="dashboard-h2">Find Pokémon</h2>

  <form class="new-pokemon-form">
     <div class="search-bar">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" placeholder="Bulbasaur" />
    </div>
    <button type="submit" class="btn search-btn">Search</button>
  </form>
</section>


<script src="/javascript/search-pokemon.js"></script>