{{!--Dashboard--}} 

<section>
  <h2>Find Pokemon</h2>

  <form class="new-pokemon-form">
     <div>
      <label for="name">Name</label>
      <input type="text" id="name" name="name" />
    </div>
    <button type="submit" class="btn">Search</button>
  </form>
</section>


<script src="/javascript/search-pokemon.js"></script>