<div class="pokedex-container">
  <h1 class="homepage-title">Pokédex</h1>

<ol id="pokedex" style="list-style-type:none;" div="post-list">
  {{#each pocketmonsters as |post|}}
  <li style="list-style-type:none;" >
    {{> pokemon-info post }}
  </li>
  {{/each}}
</ol>
</div>