<div class="homepage-title">
  <h1>Pokédex</h1>
</div>

<ol style="list-style-type:none;" div="post-list">
  {{#each pocketmonsters as |post|}}
  <li style="list-style-type:none;" >
    {{> pokemon-info post }}
  </li>
  {{/each}}
</ol>