
.login-form{
padding: 6px;
margin-top: 8px;
margin-right: 16px;
background: #ddd;
font-size: 15px;
font-family: 'Poppins', sans-serif;
border: none;
cursor: crosshair;
background-color: white;
border-left: .5px solid black;
}